# Environment
NODE_ENV=development
# NODE_ENV=production

# Discord bot
DISCORD_TOKEN=AbCdEfG
OWNER=123123123
BOT_PREFIX=
DEFAULT_COLOR=#e91e63
INVITE=https://discord.com/api/oauth2/authorize?client_id=ID&permissions=PERMS&scope=bot

# Database credentials
DATABASE_PASSWORD=abc
